@model Presentation_Layer.ViewModels.Exam.ExamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid" style="padding: 0;">
    <div class="decor-default">
        <div class="contact">
            <div class="controls">
                <div class="image-container">
                    <img src="/images/banners/banner-6.jpg">
                    <div class="centered">
                        <h1 class="display-1" style="font-size: 6vw; font-weight: 400;">
                            @Model.Name
                        </h1>
                    </div>
                    <div class="btn-group dropleft updateExamButton">
                        <a asp-controller="Exam" asp-action="Update" asp-route-id="@Model.Id" class="circle-edit-btn">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top: 30px;">
                <div class="container">
                    <div class="text-center">
                        <h1 class="display-4">Exam description</h1>
                    </div>
                    <pre style="white-space: pre-line; font-family: 'Montserrat'; font-size: 16px;">
                            @Model.Description
                        </pre>
                </div>
                <div class="container-fluid mt-5 ">
                    <div class="row">
                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-c-blue order-card flex-fill">
                                <div class="card-body" style="padding: 5px;">
                                    <h3 class="m-b-20 text-center">Max grade</h3>
                                    <h5 class="text-center"><span>@Model.Questions.Sum(q => q.MaxGrade)</span></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-c-green order-card flex-fill">
                                <div class="card-body" style="padding: 5px;">
                                    <h3 class="m-b-20 text-center">Threshold grade</h3>
                                    <h5 class="text-center"><span>@Model.MinimumPassGrade</span></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-c-yellow order-card flex-fill">
                                <div class="card-body" style="padding: 5px;">
                                    <h3 class="m-b-20 text-center">Allowed attempts</h3>
                                    <h5 class="text-center"><span>@Model.MaxAttemptsAllowed</span></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-c-gray order-card flex-fill">
                                <div class="card-body" style="padding: 5px;">
                                    <h3 class="m-b-20 text-center">Duration</h3>
                                    <h5 class="text-center"><span>@Model.ExamDuration</span></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-c-purple order-card flex-fill">
                                <div class="card-body" style="padding: 5px;">
                                    <h3 class="m-b-20 text-center">Start date</h3>
                                    <h5 class="text-center"><span>@Model.ExamStartDateTime.DateTime</span></h5>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-stretch">
                            <div class="card bg-c-indigo order-card flex-fill">
                                <div class="card-body" style="padding: 5px;">
                                    <h3 class="m-b-20 text-center">End date</h3>
                                    <h5 class="text-center"><span>@Model.ExamEndDateTime.DateTime</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="=margin-bottom: 30px;">
                <div class="text-center">
                    <h1 class="display-4">Questions</h1>
                </div>
                @for (var i = 0; i < Model.Questions.Count; i++)
                {
                    <div class="card mb-3 question" style="background-color: #f2f2f2; border-radius: 15px;">
                        <div class="card-body">
                            <h5 class="card-title" style="display: flex; justify-content: center; align-items: center;">
                                Question @(i + 1)
                            </h5>
                            <p class="card-text">@Model.Questions[i].QuestionText</p>
                            <p style="margin-bottom: 0;"><strong>Max grade:</strong> @Model.Questions[i].MaxGrade</p>
                        </div>
                    </div>
                }
                
                <div class="container d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pagination-nav">
                            @for (int i = 0; i < Model.Questions.Count; i++)
                            {
                                <li class="page-item me-2" data-page="@i">
                                    <a class="page-link" href="javascript:void(0);" onclick="showQuestion(@i)">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize to show the first question
        showQuestion(0);
    });

    function showQuestion(currentPage) {
        debugger;
        let allPageItems = document.querySelectorAll('#pagination-nav .page-item');
        let allQuestions = document.querySelectorAll(".question");

        // Update the active class on pagination items
        allPageItems.forEach((item, index) => {
            if (index === currentPage) {
                item.classList.add('active');
            } else {
                item.classList.remove('active');
            }
        });

        // Display the corresponding question
        allQuestions.forEach((item, index) => {
            if (index === currentPage) {
                item.classList.add('active');
            } else {
                item.classList.remove('active');
            }
        });
    }
</script>