@model List<Presentation_Layer.ViewModels.UserExamAttemptViewModel>

@{
    var assessedUserAttempts = Model.Where(x => x.IsExamAssessed).ToList();

    ViewData["Title"] = "ExamStatistic";
    var orderedByGradeFromMaxToMin = assessedUserAttempts.OrderByDescending(x => x.TotalGrade).ToList();
    var orderedByGradeFromMinToMax = assessedUserAttempts.OrderBy(x => x.TotalGrade).ToList();


    //TODO: move all these variables to new model
    int examMaxGrade = 0;
    if (Model.Count > 0)
    {
        examMaxGrade = Model.First().Exam.Questions.Sum(q => q.MaxGrade).Value;
    }

    var categoryCount = examMaxGrade switch
    {
        <= 5 => 2,
        <= 15 => 5,
        <= 30 => 6,
        <= 45 => 7,
        <= 60 => 8,
        _ => 10
    };

    var categoryStep = (int)Math.Ceiling((float)examMaxGrade / categoryCount);

    var categories = Enumerable.Range(0, categoryCount)
        .Select(n => n == categoryCount - 1 
            ? $"{n * categoryStep}-{examMaxGrade}"
            : $"{n * categoryStep}-{(n + 1) * categoryStep - 1}")
        .ToList();

    var counts = new int[categoryCount];

    foreach (var student in Model.Where(x=>x.IsExamAssessed))
    {
        var categoryIndex = student.TotalGrade / categoryStep;
        counts[categoryIndex.Value]++;
    }

    TimeSpan averageTimeSpan;
    if (Model.Count > 0)
    {
        var averageTakenTime = Model.Average(item => item.TakenTimeToComplete.TotalSeconds);
        averageTimeSpan = TimeSpan.FromSeconds(averageTakenTime);
    }
    else
    {
        averageTimeSpan = TimeSpan.Zero;
    }
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        color: white;
    }

    .image-container {
        width: calc(100% + 24px);
        position: relative;
        overflow: hidden;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: -16px;
    }

    .image-container img {
        filter: brightness(50%);
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .straddle-button {
        position: absolute;
        left: 92%;
        transform: translateX(-50%);
        bottom: 5%;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1.5vw;
        width: max-content;
        border-radius: 35px;
    }

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }

    .bg-c-purple {
        background: linear-gradient(45deg, #9b59b6, #be90d4);
    }

    .bg-c-red {
        background: linear-gradient(45deg, #e74c3c, #f1948a);
    }

    .bg-c-orange {
        background: linear-gradient(45deg, #f39c12, #f9c6c9);
    }

    .bg-c-teal {
        background: linear-gradient(45deg, #1abc9c, #48c9b0);
    }

    .bg-c-indigo {
        background: linear-gradient(45deg, #34495e, #5d6d7e);
    }

    .bg-c-gray {
        background: linear-gradient(45deg, #7f8c8d, #bdc3c7);
    }

    .bg-c-brown {
        background: linear-gradient(45deg, #8e44ad, #a569bd);
    }

    .bg-c-cyan {
        background: linear-gradient(45deg, #00bcd4, #4dd0e1);
    }
</style>

<div class="container-fluid" style="padding: 0;">
    <div class="decor-default">
        <div class="contact">
            <div class="controls">
                <div class="image-container">
                    <img src="/images/banners/banner-5.jpg">
                    <div class="centered">
                        <h1 class="display-1" style="font-size: 6vw; font-weight: 400;">
                            Exam statistic
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col d-flex align-items-stretch">
                        <div class="card bg-c-blue order-card flex-fill">
                            <div class="card-body">
                                <h2 class="m-b-20 text-center">Passed exams</h2>
                                <h3 class="text-center"><span>@Model.Count students</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex align-items-stretch">
                        <div class="card bg-c-pink order-card flex-fill">
                            <div class="card-body">
                                <h2 class="m-b-20 text-center">Average time to complete</h2>
                                @if (Model.Count > 0)
                                {
                                    <h3 class="text-center">
                                        <span>@averageTimeSpan.ToString(@"hh\:mm\:ss")</span>
                                    </h3>
                                }
                                else
                                {
                                    <h3 class="text-center"><span>@TimeSpan.Zero</span></h3>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex align-items-stretch">
                        <div class="card bg-c-purple order-card flex-fill">
                            <div class="card-body">
                                <h2 class="m-b-20 text-center">Average grade</h2>
                                @if (Model.Count > 0)
                                {
                                    <h3 class="text-center"><span>@Model.Where(x=>x.IsExamAssessed).Average(s => s.TotalGrade)</span></h3>
                                }
                                else
                                {
                                    <h3 class="text-center"><span>0</span></h3>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                
                @if (assessedUserAttempts.Count > 0)
                {
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card ccard radius-t-0 h-100">
                                <div class="card-header pb-3 brc-secondary-l3">
                                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                                        Top 5 students with best grades
                                    </h5>
                                </div>
                                @for (var i = 0; i < assessedUserAttempts.Count; i++)
                                {
                                    <div class="card-body d-flex justify-content-between" style="background-color: #f2f4f6; margin: 10px; border-radius: 10px;">
                                        <span>
                                            @(i + 1). @orderedByGradeFromMaxToMin[i].User.FirstName @orderedByGradeFromMaxToMin[i].User.LastName
                                        </span>

                                        <span>
                                            @orderedByGradeFromMaxToMin[i].TotalGrade/@orderedByGradeFromMaxToMin[i].Exam.Questions.Sum(q => q.MaxGrade)
                                        </span>
                                    </div>

                                    @if (i == 4)
                                    {
                                        break;
                                    }
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card ccard radius-t-0 h-100">

                                <div class="card-header pb-3 brc-secondary-l3">
                                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                                        Top 5 students with worse grades
                                    </h5>
                                </div>

                                @for (var i = 0; i < assessedUserAttempts.Count; i++)
                                {
                                    <div class="card-body d-flex justify-content-between" style="background-color: #f2f4f6; margin: 10px; border-radius: 10px;">
                                        <span>
                                            @(i + 1). @orderedByGradeFromMinToMax[i].User.FirstName @orderedByGradeFromMinToMax[i].User.LastName
                                        </span>

                                        <span>
                                            @orderedByGradeFromMinToMax[i].TotalGrade/@orderedByGradeFromMinToMax[i].Exam.Questions.Sum(q => q.MaxGrade)
                                        </span>
                                    </div>

                                    @if (i == 4)
                                    {
                                        break;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                
                @if (assessedUserAttempts.Count == 0)
                {
                    <div class="text-center mb-5">
                        <h1 class="display-1">
                            There is no assessed exams yet
                        </h1>
                    </div>
                }

                @if (Model.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center  mb-5 mt-5" style="height: 50vh;">
                            <h5 class="text-center">Passed vs Not Passed</h5>
                            <canvas id="passedNotPasssedDoughnutChart"></canvas>
                        </div>
                        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center  mb-5 mt-5" style="height: 50vh;">
                            <h5 class="text-center">Checked Manually vs With AI</h5>
                            <canvas id="checkedManuallyOrWithAIDoughnutChart"></canvas>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 justify-content-center d-block mx-auto mb-5">
                            <h5 class="text-center">Grade Distribution of Students</h5>
                            <canvas id="gradeWithNumberOfStudentsCategoriesChart"></canvas>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var ctx = document.getElementById('passedNotPasssedDoughnutChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Passed', 'Failed', 'Not assessed'],
                datasets: [{
                    data: [
                        @Model.Count(s => s.IsAssessedByAi &&  s.TotalGrade >= s.Exam.MinimumPassGrade),
                        @Model.Count(s => s.IsAssessedByAi && s.TotalGrade < s.Exam.MinimumPassGrade),
                        @Model.Count(s => !s.IsExamAssessed)
                    ],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(128, 128, 128, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(128, 128, 128, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('checkedManuallyOrWithAIDoughnutChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Checked by AI', 'Checked manually', 'Not assessed'],
                datasets: [{
                    data: [
                        @Model.Count(s => s.IsAssessedByAi && s.IsExamAssessed),
                        @Model.Count(s => !s.IsAssessedByAi && s.IsExamAssessed),
                        @Model.Count(s => !s.IsExamAssessed)
                        ],
                    backgroundColor: [
                        'rgba(76, 175, 80, 0.2)',  // Checked by AI (Light Green)
                        'rgba(33, 150, 243, 0.2)',  // Checked manually (Light Blue)
                        'rgba(128, 128, 128, 0.2)'     // Not checked (Light Red)
                    ],
                    borderColor: [
                        'rgba(76, 175, 80, 1)',  // Checked by AI (Green)
                        'rgba(33, 150, 243, 1)',  // Checked manually (Blue)
                        'rgba(128, 128, 128, 1)'     // Not checked (Red)
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        debugger;
        var ctx = document.getElementById('gradeWithNumberOfStudentsCategoriesChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(Json.Serialize(categories)),
                datasets: [{
                    data: @Html.Raw(Json.Serialize(counts)),
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Grade'
                        },
                        beginAtZero: true
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Students'
                        },
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        },
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    </script>
}