@model Presentation_Layer.ViewModels.Trash.TrashViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="justified-tab-0" data-bs-toggle="tab" href="#deleted-courses" role="tab" aria-controls="deleted-courses" aria-selected="true">Deleted courses</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="justified-tab-1" data-bs-toggle="tab" href="#deleted-exams" role="tab" aria-controls="deleted-exams" aria-selected="false">Deleted exams</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="justified-tab-2" data-bs-toggle="tab" href="#deleted-users" role="tab" aria-controls="deleted-users" aria-selected="false">Deleted users</a>
        </li>
    </ul>
    <div class="tab-content pt-5" id="tab-content">
        <div class="tab-pane active" id="deleted-courses" role="tabpanel" aria-labelledby="justified-tab-0">
            @if (Model.DeletedCoursesWithPagination.Courses.Any())
            {
                <div class="text-center">
                    <h1 class="display-4">Deleted courses</h1>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="searchDeletedCoursesInput" name="searchQuery" class="form-control" placeholder="Search courses..." aria-label="Search courses" onkeyup="filterDeletedCourses()">
                    <label for="searchDeletedCoursesInput" class="form-label">Search for courses</label>
                </div>

                <div id="courseListAndPagination">
                    @await Html.PartialAsync("PartialViews/_DeletedCourseListAndPagination", Model.DeletedCoursesWithPagination)
                </div>
            }
            else
            {
                <div class="text-center" style="margin-top: 13%;">
                    <h1 class="display-4">There is no deleted courses</h1>
                </div>
            }
        </div>

        <div class="tab-pane" id="deleted-exams" role="tabpanel" aria-labelledby="justified-tab-1">
            @if (Model.DeletedExamsWithPagination.Exams.Any())
            {
                <div class="text-center">
                    <h1 class="display-4">Deleted exams</h1>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="searchDeletedExamsInput" name="searchQuery" class="form-control" placeholder="Search exams..." aria-label="Search exams" onkeyup="filterDeletedExams()">
                    <label for="searchDeletedExamsInput" class="form-label">Search for exams</label>
                </div>

                <div id="examListAndPagination">
                    @await Html.PartialAsync("PartialViews/_DeletedExamListAndPagination", Model.DeletedExamsWithPagination)
                </div>
            }
            else
            {
                <div class="text-center" style="margin-top: 13%;">
                    <h1 class="display-4">There is no deleted exams</h1>
                </div>
            }
        </div>

        <div class="tab-pane" id="deleted-users" role="tabpanel" aria-labelledby="justified-tab-2">
            @if (Model.DeletedUsersWithPagination.Users.Any())
            {
                <div class="text-center">
                    <h1 class="display-4">Deleted users</h1>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="searchDeletedUsersInput" name="searchQuery" class="form-control" placeholder="Search users..." aria-label="Search users" onkeyup="filterDeletedUsers()">
                    <label for="searchDeletedUsersInput" class="form-label">Search for users</label>
                </div>

                <div id="userListAndPagination">
                    @await Html.PartialAsync("PartialViews/_DeletedUserListAndPagination", Model.DeletedUsersWithPagination)
                </div>
            }
            else
            {
                <div class="text-center" style="margin-top: 13%;">
                    <h1 class="display-4">There is no deleted users</h1>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function filterDeletedCourses() {
            var searchQuery = $('#searchDeletedCoursesInput').val();

            $.ajax({
                url: '@Url.Action("PaginateDeletedCourses", "Trash")',
                type: 'GET',
                data: { searchQuery: searchQuery, pageNumber: 1 },
                success: function (data) {
                    var parsedData = $.parseHTML(data);
                    var courseListHtml = $(parsedData).filter('#deletedCourseList').html();
                    var paginationHtml = $(parsedData).filter('#deletedCoursesPaginationContainer').html();
                    if (courseListHtml !== undefined && !isEmptyRow(courseListHtml)) {
                        $('#deletedCourseList').html(courseListHtml);
                    } else {
                        $('#deletedCourseList').html('<div class="text-center mt-5 mb-5"><h1>Nothing found</h1></div>');
                    }

                    if (paginationHtml !== undefined) {
                        $('#deletedCoursesPaginationContainer').html(paginationHtml);
                    }
                },
                error: function () {
                    alert('Error loading courses.');
                }
            });
        }

        function filterDeletedExams() {
            var searchQuery = $('#searchDeletedExamsInput').val();

            $.ajax({
                url: '@Url.Action("PaginateDeletedExams", "Trash")',
                type: 'GET',
                data: { searchQuery: searchQuery, pageNumber: 1 },
                success: function (data) {
                    var parsedData = $.parseHTML(data);
                    var examListHtml = $(parsedData).filter('#deletedExamList').html();
                    var paginationHtml = $(parsedData).filter('#deletedExamsPaginationContainer').html();
                    if (examListHtml !== undefined && !isEmptyRow(examListHtml)) {
                        $('#deletedExamList').html(examListHtml);
                    } else {
                        $('#deletedExamList').html('<div class="text-center mt-5 mb-5"><h1>Nothing found</h1></div>');
                    }

                    if (paginationHtml !== undefined) {
                        $('#deletedExamsPaginationContainer').html(paginationHtml);
                    }
                },
                error: function () {
                    alert('Error loading exams.');
                }
            });
        }

        function filterDeletedUsers() {
            var searchQuery = $('#searchDeletedUsersInput').val();

            $.ajax({
                url: '@Url.Action("PaginateDeletedUsers", "Trash")',
                type: 'GET',
                data: { searchQuery: searchQuery, pageNumber: 1 },
                success: function (data) {
                    var parsedData = $.parseHTML(data);
                    var userListHtml = $(parsedData).filter('#deletedUserList').html();
                    var paginationHtml = $(parsedData).filter('#deletedUsersPaginationContainer').html();
                    if (userListHtml !== undefined && !isEmptyRow(userListHtml)) {
                        $('#deletedUserList').html(userListHtml);
                    } else {
                        $('#deletedUserList').html('<div class="text-center mt-5 mb-5"><h1>Nothing found</h1></div>');
                    }

                    if (paginationHtml !== undefined) {
                        $('#deletedUsersPaginationContainer').html(paginationHtml);
                    }
                },
                error: function () {
                    alert('Error loading users.');
                }
            });
        }

        function isEmptyRow(htmlString) {
            var parsedRowValue = $($.parseHTML(htmlString)).filter('.row').html();
            return parsedRowValue.trim().length === 0
        }

        $(document).on('click', '.deletedCourse-pagination-button', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var searchQuery = $('#searchDeletedCoursesInput').val();

            $.ajax({
                url: '@Url.Action("PaginateDeletedCourses", "Trash")',
                type: 'GET',
                data: { searchQuery: searchQuery, pageNumber: page },
                success: function (data) {
                    var parsedData = $.parseHTML(data);
                    var courseListHtml = $(parsedData).filter('#deletedCourseList').html();
                    var paginationHtml = $(parsedData).filter('#deletedCoursesPaginationContainer').html();
                    if (courseListHtml !== undefined) {
                        $('#deletedCourseList').html(courseListHtml);
                    }

                    if (paginationHtml !== undefined) {
                        $('#deletedCoursesPaginationContainer').html(paginationHtml);
                    }
                },
                error: function () {
                    alert('Error loading courses.');
                }
            });
        });

        $(document).on('click', '.deletedExam-pagination-button', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var searchQuery = $('#searchDeletedExamsInput').val();

            $.ajax({
                url: '@Url.Action("PaginateDeletedExams", "Trash")',
                type: 'GET',
                data: { searchQuery: searchQuery, pageNumber: page },
                success: function (data) {
                    var parsedData = $.parseHTML(data);
                    var examListHtml = $(parsedData).filter('#deletedExamList').html();
                    var paginationHtml = $(parsedData).filter('#deletedExamsPaginationContainer').html();
                    if (examListHtml !== undefined) {
                        $('#deletedExamList').html(examListHtml);
                    }

                    if (paginationHtml !== undefined) {
                        $('#deletedExamsPaginationContainer').html(paginationHtml);
                    }
                },
                error: function () {
                    alert('Error loading exams.');
                }
            });
        });

        $(document).on('click', '.deletedUser-pagination-button', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var searchQuery = $('#searchDeletedUsersInput').val();

            $.ajax({
                url: '@Url.Action("PaginateDeletedUsers", "Trash")',
                type: 'GET',
                data: { searchQuery: searchQuery, pageNumber: page },
                success: function (data) {
                    var parsedData = $.parseHTML(data);
                    var userListHtml = $(parsedData).filter('#deletedUserList').html();
                    var paginationHtml = $(parsedData).filter('#deletedUsersPaginationContainer').html();
                    if (userListHtml !== undefined) {
                        $('#deletedUserList').html(userListHtml);
                    }

                    if (paginationHtml !== undefined) {
                        $('#deletedUsersPaginationContainer').html(paginationHtml);
                    }
                },
                error: function () {
                    alert('Error loading users.');
                }
            });
        });
    </script>

    <script>
         function openDeleteCourseModal(button) {
            const courseId = button.getAttribute('data-course-id');
            const courseName = button.getAttribute('data-course-name');
            const form = document.getElementById(`deleteCourseForm-${courseId}`);
            document.getElementById('courseNameInModalWindow').textContent = courseName;
            const deleteModal = new bootstrap.Modal(document.getElementById('deleteCourseConfirmationModal'));
            deleteModal.show();
            document.getElementById('confirmCourseDeleteButton').onclick = function () {
                form.submit();
            };
        }

        function openRestoreCourseModal(button) {
            const courseId = button.getAttribute('data-course-id');
            const courseName = button.getAttribute('data-course-name');
            const form = document.getElementById(`restoreCourseForm-${courseId}`);
            document.getElementById('restoreCourseNameInModalWindow').textContent = courseName;
            const deleteModal = new bootstrap.Modal(document.getElementById('restoreCourseConfirmationModal'));
            deleteModal.show();
            document.getElementById('confirmCourseRestoreButton').onclick = function () {
                form.submit();
            };
        }

        function openDeleteExamModal(button) {
            const examId = button.getAttribute('data-exam-id');
            const examName = button.getAttribute('data-exam-name');
            const form = document.getElementById(`deleteExamForm-${examId}`);
            document.getElementById('examNameInModalWindow').textContent = examName;
            const deleteModal = new bootstrap.Modal(document.getElementById('deleteExamConfirmationModal'));
            deleteModal.show();
            document.getElementById('confirmExamDeleteButton').onclick = function () {
                form.submit();
            };
        }

        function openDeleteUserModal(button) {
            const userId = button.getAttribute('data-user-id');
            const userName = button.getAttribute('data-user-name');
            const form = document.getElementById(`deleteUserForm-${userId}`);
            document.getElementById('userNameInModalWindow').textContent = userName;
            const deleteModal = new bootstrap.Modal(document.getElementById('deleteUserConfirmationModal'));
            deleteModal.show();
            document.getElementById('confirmUserDeleteButton').onclick = function () {
                form.submit();
            };
        }

        function openRestoreExamModal(button) {
            const examId = button.getAttribute('data-exam-id');
            const examName = button.getAttribute('data-exam-name');
            const form = document.getElementById(`restoreExamForm-${examId}`);
            document.getElementById('restoreExamNameInModalWindow').textContent = examName;
            const deleteModal = new bootstrap.Modal(document.getElementById('restoreExamConfirmationModal'));
            deleteModal.show();
            document.getElementById('confirmExamRestoreButton').onclick = function () {
                form.submit();
            };
        }

        function openRestoreUserModal(button) {
            const userId = button.getAttribute('data-user-id');
            const userName = button.getAttribute('data-user-name');
            const form = document.getElementById(`restoreUserForm-${userId}`);
            document.getElementById('restoreUserNameInModalWindow').textContent = userName;
            const deleteModal = new bootstrap.Modal(document.getElementById('restoreUserConfirmationModal'));
            deleteModal.show();
            document.getElementById('confirmUserRestoreButton').onclick = function () {
                form.submit();
            };
        }
    </script>
}