@model UserExamAttemptViewModel

<h2>Exam</h2>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Exam.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Exam.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Exam.Description)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Exam.Description)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Exam.MaxAttemptsAllowed)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Exam.MaxAttemptsAllowed)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Exam.ExamDuration)
    </dt>
    <dd class = "col-sm-10">
        <div id="countdown"></div>
    </dd>
</dl>

<form method="post" asp-controller="UserExamPass" asp-action="Assessment">
    @for (var i = 0; i < Model.UserAnswers.Count; i++)
    {
        <h5>@Model.UserAnswers[i].Question.QuestionText</h5>
        <textarea asp-for="UserAnswers[i].AnswerText" class="form-control"></textarea>
        <span asp-validation-for="UserAnswers[i].AnswerText" class="text-danger"></span>
        @Html.HiddenFor(model => model.UserAnswers[i].Question.Id)
    }

    @Html.HiddenFor(model => model.Exam.Id)
    <br/>
    <button id="completeExamButton" type="submit" class="btn btn-outline-success">Submit</button>
    <a asp-action="Index" asp-controller="Exam" class="btn btn-outline-warning">Back to List</a>
</form>

@section Scripts {

    <script>
        var duration = @Model.Exam.ExamDuration.Value.TotalSeconds; // get duration in seconds.
        var timerId = setInterval(countdown, 1000);

        function countdown() {
            if (duration < 0) {
                clearInterval(timerId);
                document.getElementById('completeExamButton').click();
            } else {
                var hours = Math.floor(duration / 3600),
                    minutes = Math.floor((duration % 3600) / 60),
                    seconds = Math.floor(duration % 60);

                document.getElementById('countdown').innerHTML = `${hours}:${minutes}:${seconds}`;
                duration--;
            }
        }
    </script>

}