@model Presentation_Layer.ViewModels.UserExamAttemptViewModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        color: white;
    }

    .image-container {
        width: calc(100% + 24px);
        position: relative;
        overflow: hidden;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: -16px;
    }

    .image-container img {
        filter: brightness(50%);
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .straddle-button {
        position: absolute;
        left: 92%;
        transform: translateX(-50%);
        bottom: 5%;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1.5vw;
        width: max-content;
        border-radius: 35px;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }

    .bg-c-purple {
        background: linear-gradient(45deg, #9b59b6, #be90d4);
    }

    .bg-c-red {
        background: linear-gradient(45deg, #e74c3c, #f1948a);
    }

    .bg-c-orange {
        background: linear-gradient(45deg, #f39c12, #f9c6c9);
    }

    .bg-c-teal {
        background: linear-gradient(45deg, #1abc9c, #48c9b0);
    }

    .bg-c-indigo {
        background: linear-gradient(45deg, #34495e, #5d6d7e);
    }

    .bg-c-gray {
        background: linear-gradient(45deg, #7f8c8d, #bdc3c7);
    }

    .bg-c-brown {
        background: linear-gradient(45deg, #8e44ad, #a569bd);
    }

    .bg-c-cyan {
        background: linear-gradient(45deg, #00bcd4, #4dd0e1);
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .card .card-block {
        padding: 25px;
    }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        height: 100%; /* Ensure it takes up full height of the card */
    }
</style>

<div class="container-fluid" style="padding: 0;">
    <div class="decor-default">
        <div class="">
            <div class="contact">
                <div class="controls">
                    <div class="image-container">
                        <img src="https://static.vecteezy.com/system/resources/previews/023/494/340/non_2x/back-to-school-icons-set-green-or-blackboard-background-school-office-supplies-doodle-icons-and-chalk-inscription-simple-design-banner-poster-template-flat-style-illustration-vector.jpg">
                        <div class="centered">
                            <h1 class="display-1" style="font-size: 6vw; font-weight: 400;">
                                @Model.Exam.Name
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="container" style="margin-top: 30px;">
                    <div class="text-center">
                        <h1 class="display-4">Exam description</h1>
                    </div>
                    <pre style="white-space: pre-line; font-family: 'Montserrat'; font-size: 16px;">
                        @Model.Exam.Description
                    </pre>
                    <div class="container mt-5">
                            <div class="container">
                                <div class="row">
                                    @if (Model.IsExamAssessed)
                                    {
                                        <div class="col d-flex align-items-stretch">
                                            <div class="card bg-c-blue order-card flex-fill">
                                                <div class="card-body">
                                                    <h2 class="m-b-20 text-center">Exam grade</h2>
                                                    <h3 class="text-center"><span>@Model.TotalGrade of @Model.Exam.Questions.Sum(q => q.MaxGrade)</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col d-flex align-items-stretch">
                                            <div class="card bg-c-blue order-card flex-fill">
                                                <div class="card-body">
                                                    <h2 class="m-b-20 text-center">Max possible grade</h2>
                                                    <h3 class="text-center"><span>@Model.Exam.Questions.Sum(q => q.MaxGrade)</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    <div class="col d-flex align-items-stretch">
                                        <div class="card bg-c-indigo order-card flex-fill">
                                            <div class="card-body">
                                                <h2 class="m-b-20 text-center">Threshold score</h2>
                                                <h3 class="text-center"><span>@Model.Exam.MinimumPassGrade</span></h3>
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.IsExamAssessed)
                                    {
                                        @if (Model.TotalGrade >= Model.Exam.MinimumPassGrade)
                                        {
                                            <div class="col d-flex align-items-stretch">
                                                <div class="card bg-c-green order-card flex-fill">
                                                    <div class="card-body">
                                                        <h2 class="m-b-20 text-center">PASSED</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col d-flex align-items-stretch">
                                                <div class="card bg-c-red order-card flex-fill">
                                                    <div class="card-body">
                                                        <h2 class="text-center">FAILED</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col d-flex align-items-stretch">
                                            <div class="card bg-c-yellow order-card flex-fill">
                                                <div class="card-body">
                                                    <h2 class="text-center">Exam is not assessed yet</h2>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    @if (Model.IsExamAssessed)
                                    {
                                        @if (Model.IsAssessedByAi)
                                        {
                                            <div class="col d-flex align-items-stretch">
                                                <div class="card bg-c-purple order-card flex-fill">
                                                    <div class="card-body">
                                                        <h2 class="m-b-20 text-center">Assessed by AI</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col d-flex align-items-stretch">
                                                <div class="card bg-c-cyan order-card flex-fill">
                                                    <div class="card-body">
                                                        <h2 class="m-b-20 text-center">Assessed manually</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Feedback))
                {
                    <div class="container">
                        <div class="text-center">
                            <h1 class="display-4">Overall exam feedback</h1>
                        </div>
                        <p>@Model.Feedback</p>
                    </div>
                }

                <div class="container" style="=margin-bottom: 30px;">
                    <div class="text-center">
                        <h1 class="display-4">Questions & Answers</h1>
                    </div>
                    @for (var i = 0; i < Model.UserAnswers.Count; i++)
                    {
                        <div class="card mb-3" style="background-color: #f2f2f2; border-radius: 15px;">
                            <div class="card-body question">
                                <h5 class="card-title">Question @(i + 1)</h5>
                                <p class="card-text">@Model.UserAnswers[i].Question.QuestionText</p>
                                <h5 class="card-title">Answer</h5>
                                @if (string.IsNullOrWhiteSpace(Model.UserAnswers[i].AnswerText))
                                {
                                    <p class="card-text"><em>No answer provided...</em></p>
                                }
                                else
                                {
                                    <p class="card-text">@Model.UserAnswers[i].AnswerText</p>
                                }
                                
                                @if (Model.IsExamAssessed)
                                {
                                    <p><strong>Grade:</strong> @Model.UserAnswers[i].Grade of @Model.UserAnswers[i].Question.MaxGrade</p>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.UserAnswers[i].Feedback))
                                {
                                    <h5 class="card-title">Feedback</h5>
                                    <p class="card-text">@Model.UserAnswers[i].Feedback</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>