@model IEnumerable<Presentation_Layer.ViewModels.UserExamAttemptViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exam.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.MaxAttemptsAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Exam.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Exam.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Exam.MaxAttemptsAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TotalGrade)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Manual Assess", "Evaluation", new { examId = item.Id }, new { @class = "btn btn-outline-info" })
                    <form asp-area="" asp-action="AiEvaluation" method="post" style="display: inline-block;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-info">AI Check</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
